* {
    margin:0;
    padding:0;
}

html,body {
    background-color: #68cdd5;
    font-size:62.5%;/*简化font-size的换算，1em=10px*/
    width:100%;
    height:100%;
    margin:0 auto;
}
.btn>img {
    width:9%;
    max-width:54px;
    margin:0 auto;
    padding-left:6%;
    padding-top:3%;
}
.logo {
    width:100%;
    margin:6.5% 0;
}
.logo>img {
    width:40%;
    max-width:244px;
    display: block;
    margin:0 auto;
}
.main p {
    width:70%;
    font: 2rem "Microsoft YaHei";
    font-size:20px;/*不兼容rem浏览器使用的长度*/
    color:white;
    text-align: justify;
    margin:13% auto;
    line-height:1.8;
}
.ft1 {
    float:left;
    width:50%;
    margin-top:14%;

}
.footer {
    overflow: hidden;
}

.footer img {
    width:60%;
    display: block;
    max-width:84px;
    margin:0 auto;
}
.ft2 {
    float: right;
    width:50%;
    margin-top:15%;
}
.footer p {
    text-align: center;
    font: 1rem "Microsoft YaHei";
    font-size:10px;/*不兼容rem浏览器使用的长度*/
    line-height: 2.1;
    color: white;
}
